footer {
	height: 60px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	background: linear-gradient(120deg, #000000, rgb(27, 0, 0), black);
}

.footer-links {
	display: flex;
	gap: 10px;
	list-style: none;
}
