.contact {
	flex: 1 0 auto;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	width: 1000px;
	height: fit-content;
	padding: 20px;
	margin: 40px auto;
}

.location-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.map-image {
	width: 500px;
	transition: 0.3s ease;
}

.map-image:hover {
	transform: scale(1.5);
}

form {
	margin: 30px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.form-element {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
	margin-bottom: 20px;
}

.form-element input {
	width: 500px;
	height: 25px;
}
