.logo {
	filter: drop-shadow(0 0 1em #ff646479);
	width: 400px;
	margin-bottom: 10px;
}

.main-container {
	width: 600px;
	height: 700px;
	margin: 40px auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.extra-container {
  width: 1000px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 40px;
  
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-theme {
  background: linear-gradient(120deg, #000000, rgb(27, 0, 0), black);
	color: white;
  border: 2px solid black;
	border-radius: 5px;
	box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

.opening-times-container {
  background-color: rgba(0, 0, 0, 0.336);
  border: 2px solid black;
  border-radius: 5px;
  width: 300px;
}

.opening-times-list {
	list-style: none;
	text-align: center;
	padding: 0;
  margin-top: 0;
}

.extra-links {
  display: flex;
  gap:20px;
}

.extra-links a {
  font-size: 1.2rem;
}

.friend-links {
  text-align: center;
  margin-top: 20px;
}

.friend-links-list {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}

.friend-links-list li {
  margin: 5px;
}