:root {

  font-family: "Lora", serif !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(236, 0, 0, 0.87);
  background-color: #080808;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding: 0;
}

button {
  width: 120px;
  height: 40px;
  background-color: #240000;
  border: 1px solid #000000;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #a00000;
  transform: scale(1.2);
}